body {
  margin: 0;
  padding: 0;
  background: rgb(235, 235, 235);
}
.main {
  padding: 20px;
  height: 70vh;
}

.card--content {
  padding: 20px;
  flex-grow: 2;
}
.card img {
  margin: 5px;
  border: 2px solid rgb(0, 0, 0, 0.1);
}
.card {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(241, 241, 241);
  margin-bottom: 20px;
}

@media (max-width: 750px) {
  .card {
    text-align: center;
    flex-direction: column;
  }

  .main {
    padding: 0px;
    padding-top: 20px;
    height: 85vh;
  }
}
